<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tools QA">
    <listeners>
        <listener class-name="Reports.Listeners"/>
    </listeners>
    <test name="Navigate to Book store">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="Test.HomePageTest"/>
        </classes>
    </test>
</suite>